
<style>
      .hero {
    background: url("../images/apex-login.jpg") no-repeat;
    background-size: cover;
    background-position: top center;
    margin-top: 90px;
    padding: var(--section-padding) 0;
    height: 100vh;
    width: 100%;
    max-height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .main {
    position: relative; 
    top: -100px;
    width: 500px;
    max-width: 90%;
    text-align: center;
    background-color: white;
    padding: 25px 20px;
    border-radius: 10px;
  }
  
  .main > h1 {
    font-size: 30px;
    color: black;
    margin: 0 0 30px 0;
  }
  
  .main > form > input {
    width: 95%;
    padding: 15px;
    background-color: #ccc;
    color: gray;
    border: 0;
    margin: 10px 5px;
    border-radius: 8px;
    text-align: center;
  }
  
  .main > form > button {
    background-color: #03AABD;
    padding: 15px;
    width: 95%;
    border: none;
    color: white;
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 8px;
    cursor: pointer;
  }

  #emailError {
  color: red;
  }

  #passwordError {
    color: red;
  }
  
  .main > form > input:focus,
  .main > form > button:focus {
    outline: none;
  }
</style>
<div class="hero" id="hero">
    <div class="main">
      <h1>SIGN IN TO YOUR ACCOUNT</h1>
      <form action="/login" method="POST">
        <input type="email" name="email" placeholder="example@email.com" />
        <div id="emailError"></div>
        <input type="password" name="password" placeholder="* * * * * *" />
        <div id="passwordError"></div>
        <button>SIGN IN</button>
      </form>
    </div>
  </div>

  <script defer> 
    let form = document.querySelector("form");    
    
    const emailError = document.querySelector('#emailError');
    const passwordError = document.querySelector('#passwordError');

    async function validate(event) {
      event.preventDefault(); 
      emailError.textContent = '';
      passwordError.textContent = '';           
      const email = form.email.value;
      const password = form.password.value;
      try {
        const res = await fetch('/login', {
          method: 'POST',
          body: JSON.stringify({email: email, password: password}),
          headers: {'Content-type': 'application/json'}
        });
        const data = await res.json();      
        if (data.errors){
          if(data.errors.email.length === 28){
            emailError.textContent = data.errors.email;
          }  
          if (data.errors.email.length === 26) {
            passwordError.textContent = data.errors.email
          }  
            
        }
        if (data.user) {
          console.log(data);
          location.assign('/')
        }
      } catch (err) {
        console.log(err)
      }
    }
    
    
    form.addEventListener("submit", validate);
    
</script>