  /***************** body *****************/


* {
    margin: 0;
    padding: 0;
  }
/*   
  html {
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  } */
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #1B121F;
  }

  
  .card-container {
    margin-top: 150px;
    padding: 10px 20px;
    background-color: whitesmoke;
    border-radius: 15px;
    margin-bottom: 50px;
  }

  /***************** Card bodies *****************/

h1{
    text-align: center;
}

  .card{
      margin: 20px 15px;
      border-radius: 20px;
      
  }

  .card-body a {
      color: #1B121F;
      text-decoration: none;
      font-size: 15px;
      margin-top: auto;
      font-weight: 600;
  }

.card-body a:hover {
    color: #03AABD;
    text-decoration: none;
}

/***************** checkboxes *****************/
.checkboxes{
  white-space: nowrap;
  margin: 0 auto;
}

.custom-control-input {
  width: 25px;
  }

  

.checkboxes label {
  display: inline-block;
  white-space: nowrap;
  margin: 0px 20px;

}
.checkboxes input {
  vertical-align: middle;
}
.checkboxes label span {
  vertical-align: middle;
}

.checkboxes span {
  display: inline!important;
  width: 6em;
}

/***************** Habit input *****************/


h2 {
  text-align: center;
  font-weight: 400;
 
}

.habit-header {
  color: #1B121F;
}

.add-habit {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.add-habit input {
  padding: 10px;
  margin: 5px;
  outline: 0;
  border: 0;
  border-radius: 100px;
}

.add-habit select {
  border-radius: 10px;
  border: none;
}


/***************** Habit card *****************/


.dashboard {
  display: flex;
}

svg {
  width: 114px;
  height: 114px;
  margin: 1em;
}

.bg {
  fill: none;
  stroke-width: 10px;
  stroke: #1A2C34;
}

[class^="meter-"] {
  fill: none;
  stroke-width: 10px;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  
}

.meter-1 {
  stroke-dasharray: 360;
  stroke-dashoffset: 100;
  stroke: aqua;
  animation: progress-1 1s ease-out;
}


/***************** Posted Habit *****************/

.habits {
text-align: left;
list-style: none;
}

.habits li {
border-bottom: 1px solid gray;
padding: 10px;
font-weight: 400;
display: flex;
align-items: center;
}

.habits label {
flex: 1;
cursor: pointer;
}

.habits input {
margin-right: 12px;
}

.habits input {
display: none;
}

.habits input + label:before {
content: "+";
margin-right: 12px;
}

.habits input + label span {
font-weight: 200;
font-size: 0.75rem;
}

.habits input:checked + label {
text-decoration: line-through;
color: lightgrey;
}

.habits button {
padding-left: 30px;
background: none;
margin: 5px;
outline: 0;
border: 0;
border-radius: 10px;
}

.habit-container {
  background-color: rgba(210, 215, 211, 0.9);
  border-radius: 15px;
  padding: 10px;
}
/** Toggle new game**/
/*Plus*/

.add-icon {
  color: green;
}

.minus-icon {
  color: red;
}

.add-icon,
.minus-icon {
  transition: var(--transition-2);
  font-size: 25px;
}
.add-icon:hover,
.minus-icon:hover {
  color: var(--orange)
}

.delete-icon {
  transition: var(--transition-2)
}

.delete-icon:hover {
  color: var(--orange)
}

body{
  background-color: #f2f2f2;
  font-family: sans-serif;
}
body {
  background: #d1d5db
}


.form {
  position: relative
}

.form .fa-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af
}

.form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db
}

.left-pan {
  padding-left: 7px
}

.left-pan i {
  padding-left: 10px
}

.form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 10px
}

.form-input:focus {
  box-shadow: none;
  border: none
}

input[type="submit"] {
  background-color: none !important;
}

.removeBorder {
  border: none !important;
}

#resultDiv{
  display: none;
  border: 1px solid black;
  overflow: auto;
  white-space: nowrap;
}

.selected {
  border: 2px solid rgb(102, 235, 102);
}

#searchBtn {
  width: 50px;
  height: 20px;
  color: var(--orange)
}
