<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/head'); -%>

    <link rel="stylesheet" href="/css/style.css">
  
</head>
<body id="top">
<header class="header">
    <!--bootstrap-->

    <%- include('partials/header'); -%>
       
</header>

<main>
    <article>
     

        <!--Hero section-->
        <section class="hero" id="hero">
            <div class="container">
                <p class="hero-subtitle">Get To The Next Level</p>
                <h1 class="h1 hero-title">APEX.IO</h1>
                <div class="btn-group">
                    <button class="btn btn-primary">
                        <span>Start Tracking</span>
                        <ion-icon name="play-circle"></ion-icon>
                    </button>

                    <button class="btn btn-link">Start Winning</button>
                </div>
            </div>
        </section>
       
        <div class="section-wrapper">
            <!--About-->
            <section class="about" id="about">
                <div class="container">
                    <figure class="about-banner">
                        <img src="/images/about-img.png" alt="about image" class="about-img">

                        <img src="/images/character-1-v2.png" alt="Game character"
                            class="character character-1">

                        <img src="/images/character-2.png" alt="Game character"
                            class="character character-2">

                        <img src="/images/character-3.png" alt="Game character"
                            class="character character-3">
                    </figure>

                    <div class="about-content">
                        <p class="about-subtitle">Build your legend</p>

                        <h2 class="about-title">Habits customised by pro <strong>gamers</strong></h2>

                        <p class="about-text">
                            Make the habits of pro gamers work for you. Start tracking your daily habits and make
                            your E-Sports dreams into a reality.
                        </p>

                        <p class="about-bottom-text">
                            <ion-icon name="arrow-forward-circle-outline"></ion-icon>

                            <span>Will sharpen your brain and focus</span>
                        </p>
                    </div>

                </div>
            </section>

            <!-- Tournament-->
            <section class="tournament" id="tournament">
                <div class="container">
                    <div class="tournament-content">
                        <p class="tournament-subtitle">Check out the next</p>
                        <h2 class="h3 tournament-title">
                            APEX LAN event
                        </h2>
                        <p class="tournament-text">
                            See our upcoming events near you! We organise monthly events where we invite our top
                            habit trackers to form teams for an in-house tournament. We select top players for our
                            APEX.IO E-Sports Team.
                        </p>
                        <button class="btn btn-primary">
                            Start preparing
                        </button>
                    </div>

                    <div class="tournament-prize">
                        <h2 class="h3 tournament-prize-title">
                            Prize pool
                        </h2>
                        <data value="3000">£3000</data>
                        <figure>
                            <img src="/images/prize-img.png" alt="prize">
                        </figure>
                    </div>
                    <div class="tournament-winners">
                        <h2 class="h3 tournament-winners-title">
                        </h2>
                        <ul class="tournament-winners-list">
                            <li>
                                <div class="winner-card">
                                    <figure class="card-banner">
                                        <img src="/images/winner-img-1.png" alt="winner">
                                    </figure>

                                    <h3 class="h5 card-title">
                                        1st Place
                                    </h3>
                                </div>
                            </li>
                            <li>
                                <div class="winner-card">
                                    <figure class="card-banner">
                                        <img src="/images/winner-img-2.png" alt="winner">
                                    </figure>

                                    <h3 class="h5 card-title">
                                        2nd Place
                                    </h3>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>


            <!--Gallery-->
            <section class="gallery">
                <div class="container">
      
                  <ul class="gallery-list has-scrollbar">
      
                    <li>
                      <figure class="gallery-item">
                        <img src="/images/gallery-image-4-v2.jpg" alt="Gallery image">
                      </figure>
                    </li>
      
                    <li>
                      <figure class="gallery-item">
                        <img src="/images/gallery-img-2-v2.jpg" alt="Gallery image">
                      </figure>
                    </li>
      
                    <li>
                      <figure class="gallery-item">
                        <img src="/images/gallery-img-3-v2.jpg" alt="Gallery image">
                      </figure>
                    </li>
      
                    <li>
                      <figure class="gallery-item">
                        <img src="/images/gallery-img-4-v3.jpg" alt="Gallery image">
                      </figure>
                    </li>
      
                  </ul>
      
                </div>
              </section>

              <!-- Team -->
              <section class="team" id="team">
                <div class="container">
      
                  <h2 class="h2 section-title">Active Team Members</h2>
      
                  <ul class="team-list">
      
                    <li>
                      <a href="#" class="team-member">
                        <figure>
                          <img src="/images/team-member-1.png" alt="Team member image">
                        </figure>
      
                        <ion-icon name="link-outline"></ion-icon>
                      </a>
                    </li>
      
                    <li>
                      <a href="#" class="team-member">
                        <figure>
                          <img src="/images/team-member-2.png" alt="Team member image">
                        </figure>
      
                        <ion-icon name="link-outline"></ion-icon>
                      </a>
                    </li>
      
                    <li>
                      <a href="#" class="team-member">
                        <figure>
                          <img src="/images/team-member-3.png" alt="Team member image">
                        </figure>
      
                        <ion-icon name="link-outline"></ion-icon>
                      </a>
                    </li>
      
                    <li>
                      <a href="#" class="team-member">
                        <figure>
                          <img src="/images/team-member-4.png" alt="Team member image">
                        </figure>
      
                        <ion-icon name="link-outline"></ion-icon>
                      </a>
                    </li>
      
                    <li>
                      <a href="#" class="team-member">
                        <figure>
                          <img src="/images/team-member-6.png" alt="Team member image">
                        </figure>
      
                        <ion-icon name="link-outline"></ion-icon>
                      </a>
                    </li>
      
                    <li>
                      <a href="#" class="team-member">
                        <figure>
                          <img src="/images/team-member-7.png" alt="Team member image">
                        </figure>
      
                        <ion-icon name="link-outline"></ion-icon>
                      </a>
                    </li>
      
                    <li>
                      <a href="#" class="team-member">
                        <figure>
                          <img src="/images/team-member-8.png" alt="Team member image">
                        </figure>
      
                        <ion-icon name="link-outline"></ion-icon>
                      </a>
                    </li>
      
                    <li>
                      <a href="#" class="team-member">
                        <figure>
                          <img src="/images/team-member-9.png" alt="Team member image">
                        </figure>
      
                        <ion-icon name="link-outline"></ion-icon>
                      </a>
                    </li>
      
                    <li>
                      <a href="#" class="team-member">
                        <figure>
                          <img src="/images/team-member-10.png" alt="Team member image">
                        </figure>
      
                        <ion-icon name="link-outline"></ion-icon>
                      </a>
                    </li>
      
                    <li>
                      <a href="#" class="team-member">
                        <figure>
                          <img src="/images/team-member-11.png" alt="Team member image">
                        </figure>
      
                        <ion-icon name="link-outline"></ion-icon>
                      </a>
                    </li>
      
                    <li>
                      <a href="#" class="team-member">
                        <figure>
                          <img src="/images/team-member-12.png" alt="Team member image">
                        </figure>
      
                        <ion-icon name="link-outline"></ion-icon>
                      </a>
                    </li>
      
                  </ul>
      
                  <button class="btn btn-primary">view all members</button>
      
                </div>
              </section>
        </div>
    </article>
</main>

<%- include('partials/footer'); -%>

</body>
</html>
