<%- include('partials/head'); -%>

<h1>Login</h1>

<%- include('partials/footer'); -%>

<div class="main">
    <h1>SIGN IN TO YOUR ACCOUNT</h1>
    <form action="/login" method="POST">
      <input type="email" name="email" placeholder="example@email.com" />
      <input type="password" name="password" placeholder="* * * * * *" />
      <button>SIGN IN</button>
    </form>
  </div>
</div>
